<div class="container">
  <div class="page-header">
      <h1 id="timeline">មតិលើតុមូល</h1>
  </div>

  <md-card>
    <md-card-title style="margin: -17px 0 0 0;">
      <div class="lock-size" layout="row" layout-align="end center">
        <span class="badge badge-light pull-right"><i class="glyphicon glyphicon-retweet"></i>. 22<span>

    </div>
    <md-card-content ng-bind-html="comment.comment | parseUrl">
      <p>
       wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
      </p>
    </md-card-content>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center" style="padding: 0 15px 0 3px; margin: -30px 0 0 0;">
      <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" ng-src="/assets/images/togmolicon/user-togmol.svg"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{comment.commentator}}</span>
        <span style="font-size: 10px">{{comment.date | date: 'dd MMM, yyyy'}}</span>
      </md-card-header-text>
      </md-card-header>
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="toggle">
          <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="share"/>
        </md-button>
      </md-card-icon-actions>
      <md-button class="md-raised" ng-click="talk.clickVoteComment(comment._id, $index)">{{comment.vote}} {{(comment.voteby.includes(talk.userDecode))? "Voted":"Vote"}}</md-button>
    </md-card-actions>
    <hr />
    <md-card-title style="margin: -17px 0 0 0;">
      <div class="lock-size" layout="row" layout-align="end center">
        <md-button aria-label="Delete" class="md-fab md-raised md-mini" ng-click="talk.deleteCommnet(comment._id, $index)">
          <img ng-src="/assets/images/togmolicon/trash-can.svg" class="md-card-image" alt="delete"/>
        </md-button>
    </div>
    <md-card-content ng-bind-html="comment.comment | parseUrl">
      <p>
       wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
      </p>
    </md-card-content>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center" style="padding: 0 15px 0 3px; margin: -30px 0 0 0;">
      <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" ng-src="/assets/images/togmolicon/user-togmol.svg"/>
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{comment.commentator}}</span>
        <span style="font-size: 10px">{{comment.date | date: 'dd MMM, yyyy'}}</span>
      </md-card-header-text>
      </md-card-header>
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="toggle">
          <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="share"/>
        </md-button>
      </md-card-icon-actions>
      <md-button class="md-raised" ng-click="talk.clickVoteComment(comment._id, $index)">{{comment.vote}} {{(comment.voteby.includes(talk.userDecode))? "Voted":"Vote"}}</md-button>
    </md-card-actions>
  </md-card>


  <div class="row">
    <div class="col-lg-7 col-sm-6">
      <div class="list-group">
        <a href="/talk/{{status._id}}" ng-repeat = "status in main.allStatus track by $index" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <span class="badge badge-light pull-right"><i class="glyphicon glyphicon-retweet"></i>. {{status.totalcomment}}</span>
            <h3 class="mb-1">{{status.title}}</h3>
            <time class="timeline-time" datetime="2014-01-10T03:45"><i class="glyphicon glyphicon-time">.</i><span>{{status.date | date: 'dd MMM, yyyy'}}</span> <span>By {{status.username}}</span> <span>Total Like: {{status.totallike}} Total View: {{status.statusview}}</span></time>
            <h6><span class="label label-danger" ng-repeat = "tag in status.tags">{{tag}}</span></h6>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-5 col-sm-6" style="background-color:lavender;">Profile Goes Here</div>
  </div>



</div>
