<div class="container">
  <h2>Form control: textarea</h2>
  <form ng-submit="ask.askQuestion(askData)" novalidate>
    <div class="form-group">
      <label for="usr">Title:</label>
      <input type="text" class="form-control" name="title" ng-model="ask.askData.title">
    </div>
    <div class="form-group">
      <label for="comment">Content:</label>
      <textarea class="form-control" rows="5" name="content" ng-model="ask.askData.content"></textarea>
    </div>
    <br><button  class="btn btn-primary" type="submit">Post</button>
    <!-- <tags-input ng-model="tags"></tags-input> -->



    <h3>Your Tag Data</h3>
    <ui-select multiple name="colors" ng-model="ask.askData.colors" theme="bootstrap" ng-disabled="ask.disabled" close-on-select="false" style="width: 300px;" title="Choose a color">
      <ui-select-match placeholder="Select tag...">{{$item}}</ui-select-match>
      <ui-select-choices repeat="color in ask.availableColors | filter:$select.search">
        {{color}}
      </ui-select-choices>
    </ui-select>
    <!-- <p>Selected: {{ask.multipleDemo.colors}}</p> -->
    <hr>


  </form>
  <div class="row show-hide-message" ng-show="ask.successMsg">
      <div class="alert alert-success">
          {{ask.successMsg}}
      </div>
  </div>
  <div class="row show-hide-message" ng-show="ask.errorMsg">
      <div class="alert alert-danger">
          {{ask.errorMsg}}
      </div>
  </div>
</div>
<!-- <div class="colInfo">
    <h3 class="nino-colHeading">instagramddd</h3>
    <div class="instagramImages clearfix">
      <div class="list-group" ng-repeat="ask in ask.AllTag">
        <a href="#" class="list-group-item">{{ask.tagname}}</a>
      </div>
    </div>
</div> -->
