<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
      <md-card-title>

        <div class="lock-size" layout="row" layout-align="end center">
        <md-fab-speed-dial style="z-index: 1" md-open="talk.isOpen" md-direction="down"
                           ng-class="talk.selectedMode">
          <md-fab-trigger>
              <md-button class="md-icon-button" aria-label="Favorite">
                <img ng-src="/assets/images/togmolicon/arrow-down.svg" class="md-card-image" alt="comment"/>
              </md-button>
          </md-fab-trigger>
          <md-fab-actions style="position: absolute; bottom: -105px;">
            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
              <img ng-src="/assets/images/togmolicon/update-talk.svg" class="md-card-image" alt="comment"/>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
              <img ng-src="/assets/images/togmolicon/trash-can.svg" class="md-card-image" alt="comment"/>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
              <img ng-src="/assets/images/togmolicon/report-content.svg" class="md-card-image" alt="comment"/>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </div>
      <md-card-title-text>
        <span class="md-headline">In-card actionsIn-carionsIn-card actions</span>
        <span class="md-subhead">views, ans, tag, kindofcontent</span>
      </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <md-card-header>
        <md-card-avatar>
          <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">eangfmbs</span>
          <span style="font-size: 10px">Feb 11, 2561</span>
        </md-card-header-text>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Share">
              <img ng-src="/assets/images/togmolicon/share-togmol.svg" class="md-card-image" alt="comment"/>
            </md-button>
            <md-button class="md-icon-button" aria-label="Favorite">
              <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="comment"/>
            </md-button>
          </md-card-icon-actions>
          <md-button class="md-raised">Like 6</md-button>
        </md-card-actions>
      </md-card-header>
    </md-card>

    <!-- Answering System -->
    <md-card>
      <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
      <md-card-title>

        <div class="lock-size" layout="row" layout-align="end center">
        <md-fab-speed-dial style="z-index: 1" md-open="talk.isOpenOnMainComment" md-direction="down"
                           ng-class="talk.selectedMode" class="md-fling">
          <md-fab-trigger>
              <md-button class="md-icon-button" aria-label="Favorite">
                <img ng-src="/assets/images/togmolicon/arrow-down.svg" class="md-card-image" alt="comment"/>
              </md-button>
          </md-fab-trigger>
          <md-fab-actions style="position: absolute; bottom: -105px;">
            <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
              <img ng-src="/assets/images/togmolicon/update-talk.svg" class="md-card-image" alt="comment"/>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
              <img ng-src="/assets/images/togmolicon/trash-can.svg" class="md-card-image" alt="comment"/>
            </md-button>
            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
              <img ng-src="/assets/images/togmolicon/report-content.svg" class="md-card-image" alt="comment"/>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
      </div>
      <md-card-content>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      </md-card-title>
      <md-card-header>
        <md-card-avatar>
          <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title">thea</span>
          <span style="font-size: 10px">Feb 11, 2561</span>
        </md-card-header-text>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="comment"/>
            </md-button>
          </md-card-icon-actions>
          <md-button class="md-raised">Like 6</md-button>
        </md-card-actions>
      </md-card-header>
    </md-card>
  </div>
  <!-- Another side layout -->
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">User profile gose here</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
    </div>

  </md-content>


<div class="container">
  <div class="panel panel-info">
    {{notification}}
    <div class="panel-heading">{{talk.status.username}} {{talk.status.title}} Total Like: {{talk.status.totallike}} Total View:{{talk.status.statusview}} Total Answer: {{talk.status.totalcomment}} Date: {{talk.status.date}}</div>

    <div>
      <button ng-show="talk.enabledEdit" class="btn btn-info" type="submit"><a href="/updatetalk/{{talk.status._id}}">Update?</a></button>
    </div>
    <div>
      <button ng-show="talk.enabledEdit" type="button" class="btn btn-danger" ng-click="talk.deleteTalk()">Delete?</button>
    </div>
    <div>
      <button  type="button" class="btn btn-success" ng-click="talk.clickLikeTalk()">{{(talk.likeby.includes(userDecode))? "Liked":"Like"}} {{talk.totallike}}</button>
    </div>
    <div>
      <a href="#"
      socialshare
      socialshare-provider="facebook"
      socialshare-text="720kb AngularJS Socialshare"
      socialshare-hashtags="angularjs, angular-socialshare"
      socialshare-url="https://www.google.co.th/?gws_rd=cr&dcr=0&ei=2GwWWpHQCcqDvQTA37XQBQ">
      <button type="button" class="btn btn-primary">Share</button>
      </a>
    </div>
    <!-- <div>
      <button  type="button" class="btn btn-success" if-btn-not-active ng-click="talk.likeTalk(false)">Like?</button>  ng-init="liked='Like'; likeCount=0"
    </div>
    <div>
      <button  type="button" class="btn btn-success" if-btn-active ng-click="talk.likeTalk(true)">Dislike?</button>
    </div> -->

    <div class="panel-body">
      {{talk.status.content}}
    </div>
    <div class="panel-body" ng-repeat="tag in talk.status.tags">
      {{tag}}
    </div>
  </div>

  <form class="nino-subscribeForm" ng-submit = "talk.postComment(commentData)" novalidate>
      <div class="input-group input-group-lg">
          <input type="text" class="form-control" name="comment" placeholder="What's on your mind.." ng-model = talk.commentData.comment>
          <span class="input-group-btn">
            <button class="show-button btn btn-info" notification-text="talk.text" notification-title="talk.commentData.comment" type="submit">Comment</button>
          </span>
      </div>
  </form>

  <!-- <form class="form-inline" ng-submit = "talk.postComment(commentData)" novalidate>
     <div class="form-group">
       <label>Comment</label>
       <input type="text" name="comment" class="form-control" ng-model = talk.commentData.comment >
     </div>
     <button type="submit" class="btn btn-default">Comment</button>
  </form> -->

  <div class="row show-hide-message" ng-show="talk.successMsg">
      <div class="alert alert-success">
          {{talk.successMsg}}
      </div>
  </div>

  <div class="row show-hide-message" ng-show="talk.errorMsg">
      <div class="alert alert-danger">
          {{talk.errorMsg}}
      </div>
  </div>

  <div><h2>This is the comment of this status</h2></div>
  <div class="panel-group" ng-repeat = "comment in talk.allComments track by $index">

    <!-Main Comment-->
      <div class="panel panel-default">
        <div class="panel-heading">{{comment.commentator}}</div>
        <div class="panel-body">{{comment.comment}}</div>
        <div>
          <!-- <button ng-show="talk.freshcomment" class="btn btn-primary" type="button" ng-click="talk.clickVoteComment(comment._id)">{{talk.voteSymbol}} {{talk.totalvote}}</button> -->
          <!-- <button ng-repeat = "vote in talk.arrVote" ng-show="vote.commentid===comment._id" class="btn btn-primary" type="button" ng-click="talk.clickVoteComment(comment._id)">{{comment.vote}} {{talk.voteSymbol}} {{talk.totalvote}}</button> -->
      <button class="btn btn-primary" type="submit" ng-click="talk.clickVoteComment(comment._id, $index)">{{comment.vote}} {{(comment.voteby.includes(talk.userDecode))? "Voted":"Vote"}}</button>
        </div>
        <div>
          <button ng-show="comment.commentator===talk.userDecode" class="btn btn-danger" type="submit" ng-click="talk.deleteCommnet(comment._id, $index)">Delete?</button>
        </div>
        <div>
          <button ng-show="comment.commentator===talk.userDecode" class="btn btn-info" type="submit" ng-click="talk.updateCommnet(comment._id)">Update</button>
        </div>
      </div>

    <!- Sub Main citeomment-->
      <div class="panel panel-info" ng-repeat = "subcomment in comment.replies">
        <div class="panel-heading">{{subcomment.commentator}}</div>
        <div class="panel-body">{{subcomment.comment}}</div>
        <div>
          <!-- <button ng-show="talk.freshcomment" class="btn btn-primary" type="button" ng-click="talk.clickVoteComment(comment._id)">{{talk.voteSymbol}} {{talk.totalvote}}</button> -->
          <!-- <button ng-repeat = "vote in talk.arrVote" ng-show="vote.commentid===comment._id" class="btn btn-primary" type="button" ng-click="talk.clickVoteComment(comment._id)">{{comment.vote}} {{talk.voteSymbol}} {{talk.totalvote}}</button> -->
      <button class="btn btn-primary" type="submit" ng-click="talk.clickVoteSubComment(subcomment._id, $parent.$index, comment._id, $index)">{{subcomment.vote}} {{(subcomment.voteby.includes(talk.userDecode))? "Voted":"Vote"}}</button>
        </div>
        <div>
          <button ng-show="subcomment.commentator===talk.userDecode" class="btn btn-danger" type="submit" ng-click="talk.removeSubCommnet(subcomment._id, $parent.$index, comment._id, $index)">Delete?</button>
        </div>
        <div>
          <button ng-show="subcomment.commentator===talk.userDecode" class="btn btn-info" type="submit" ng-click="talk.updateCommnet(subcomment._id)">Update</button>
        </div>
      </div>

    <!- Reply Main Comment Form-->
      <form class="nino-subscribeForm" ng-submit = "talk.postSubComment(subcomment, $index)" novalidate>
          <div class="input-group input-group-lg">
              <input type="text" class="form-control" name="comment" placeholder="What do you think.." ng-model = "subcomment">
              <span class="input-group-btn">
                <button class="show-button btn btn-success" notification-text="talk.text" notification-title="talk.commentData.comment" type="submit">Reply</button>
              </span>
          </div>
      </form>

  </div>
</div>
