




// BACKUP partUser.getAllStatus().then(function(data){
  if(data.data.success){
    // new add
    app.items = [];
    app.busy = false;
    app.after = '';
    //end new add
    app.nextPage = function(){
      if(app.busy){
        return;
      }
      app.busy = true;
    }
    // length = data.data.status.length;
    // allTalkData = data.data.status;
    // app.nextPage = function(){
    //   if(app.busy){
    //     console.log("out of DAta1")
    //     return;
    //   }
    //   // app.busy = true;
    //   for(var i=0;i<length;i++){
        app.allStatus = data.data.status
    //     app.allStatus.push(allTalkData[i])
    //   }
    //   page++;
    //   app.busy = true;;
    // };
  } else {
    app.errorMsg = data.data.message;
  }
})







<!-- Answering System -->
<md-card>
  <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
  <md-card-title>

    <div class="lock-size" layout="row" layout-align="end center">
    <md-fab-speed-dial style="z-index: 1" md-open="talk.isOpenOnMainComment" md-direction="down"
                       ng-class="talk.selectedMode" class="md-fling">
      <md-fab-trigger>
          <md-button class="md-icon-button" aria-label="Favorite">
            <img ng-src="/assets/images/togmolicon/arrow-down.svg" class="md-card-image" alt="comment"/>
          </md-button>
      </md-fab-trigger>
      <md-fab-actions style="position: absolute; bottom: -105px;">
        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/update-talk.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/trash-can.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/report-content.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <md-card-content>
    <p>
      The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
    </p>
  </md-card-content>
  </md-card-title>
  <md-card-header>
    <md-card-avatar>
      <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">thea</span>
      <span style="font-size: 10px">Feb 11, 2561</span>
    </md-card-header-text>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite">
          <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-card-icon-actions>
      <md-button class="md-raised">Like 6</md-button>
    </md-card-actions>
  </md-card-header>
  <!-- break for sub main comment -->
  <hr />
  <!-- end break for sub main comment -->
  <!-- assume this is the first submain comment -->
  <md-card-title>
    <div class="lock-size" layout="row" layout-align="end center">
    <md-fab-speed-dial style="z-index: 1" md-open="talk.isOpenOnMainComment" md-direction="down"
                       ng-class="talk.selectedMode" class="md-fling">
      <md-fab-trigger>
          <md-button class="md-icon-button" aria-label="Favorite">
            <img ng-src="/assets/images/togmolicon/arrow-down.svg" class="md-card-image" alt="comment"/>
          </md-button>
      </md-fab-trigger>
      <md-fab-actions style="position: absolute; bottom: -105px;">
        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/update-talk.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/trash-can.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/report-content.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <md-card-content>
    <p>
      The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
    </p>
  </md-card-content>
  </md-card-title>
  <md-card-header>
    <md-card-avatar>
      <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">thea</span>
      <span style="font-size: 10px">Feb 11, 2561</span>
    </md-card-header-text>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite">
          <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-card-icon-actions>
      <md-button class="md-raised">Like 6</md-button>
    </md-card-actions>
  </md-card-header>
  <!-- another submain comment if has -->
  <md-card-title>
    <div class="lock-size" layout="row" layout-align="end center">
    <md-fab-speed-dial style="z-index: 1" md-open="talk.isOpenOnMainComment" md-direction="down"
                       ng-class="talk.selectedMode" class="md-fling">
      <md-fab-trigger>
          <md-button class="md-icon-button" aria-label="Favorite">
            <img ng-src="/assets/images/togmolicon/arrow-down.svg" class="md-card-image" alt="comment"/>
          </md-button>
      </md-fab-trigger>
      <md-fab-actions style="position: absolute; bottom: -105px;">
        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/update-talk.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/trash-can.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/report-content.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <md-card-content>
    <p>
      The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
    </p>
  </md-card-content>
  </md-card-title>
  <md-card-header>
    <md-card-avatar>
      <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">thea</span>
      <span style="font-size: 10px">Feb 11, 2561</span>
    </md-card-header-text>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite">
          <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-card-icon-actions>
      <md-button class="md-raised">Like 6</md-button>
    </md-card-actions>
  </md-card-header>

</md-card>
<!-- this is textarea for user comment -->
<md-card>
  <div style="padding:20px 20px 0 20px">
    <md-input-container class="md-block">
          <label>អ្នកគិតយ៉ាងណាដែរ..</label>
          <textarea ng-model="user.biography" md-maxlength="1500" rows="2" md-select-on-focus></textarea>
    </md-input-container>
  </div>
  <div style="padding:0px 17px 0 0; margin: -17px 0 0 0">
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite">
          <img ng-src="/assets/images/togmolicon/add-photo.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
          <img ng-src="/assets/images/togmolicon/audio.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite">
          <img ng-src="/assets/images/togmolicon/link-page.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-card-icon-actions>
      <md-button class="md-raised">Post</md-button>
    </md-card-actions>
  </div>
</md-card>

<!-- end textarea for user comment -->
<!-- example the that there are another main comment -->
<md-card>
  <md-card-title>
    <div class="lock-size" layout="row" layout-align="end center">
    <md-fab-speed-dial style="z-index: 1" md-open="talk.isOpenOnMainComment" md-direction="down"
                       ng-class="talk.selectedMode" class="md-fling">
      <md-fab-trigger>
          <md-button class="md-icon-button" aria-label="Favorite">
            <img ng-src="/assets/images/togmolicon/arrow-down.svg" class="md-card-image" alt="comment"/>
          </md-button>
      </md-fab-trigger>
      <md-fab-actions style="position: absolute; bottom: -105px;">
        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/update-talk.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/trash-can.svg" class="md-card-image" alt="comment"/>
        </md-button>
        <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
          <img ng-src="/assets/images/togmolicon/report-content.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <md-card-content>
    <p>
      The titles of Washed Out's breakthrough song and the first single from Paracosm share the
      two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
    </p>
  </md-card-content>
  </md-card-title>
  <md-card-header>
    <md-card-avatar>
      <md-icon class="md-avatar-icon" md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">thea</span>
      <span style="font-size: 10px">Feb 11, 2561</span>
    </md-card-header-text>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite">
          <img ng-src="/assets/images/togmolicon/retweet.svg" class="md-card-image" alt="comment"/>
        </md-button>
      </md-card-icon-actions>
      <md-button class="md-raised">Like 6</md-button>
    </md-card-actions>
  </md-card-header>
</md-card>
</div>
<!-- Another side layout -->
<div flex-xs flex-gt-xs="40" layout="column">
  <md-card>
    <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">User profile gose here</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      <md-card-icon-actions>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Share">
          <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
        </md-button>
      </md-card-icon-actions>
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
    <md-card-content>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    </md-card-content>
  </md-card>
</div>
