<div class="container">
    <div class="page-header">Reset New Password</div>
    <form ng-hide="reset.hideFormIfExpired " name="userForm" ng-submit="reset.resetPassword(passwordData, userForm.$valid, confirmed)" novalidate>
        <div ng-class="{'has-info':(userForm.firstPassword.$valid), 'has-error':(!userForm.firstPassword.$valid && userForm.$submitted)}">
            <label>Password</label>
            <input class="form-control" ng-disabled="password.disabled" type="text" name="firstPassword" ng-model="firstPassword" ng-minlength="5" ng-maxlength="25" required>
            <p class="help-block" ng-show="(userForm.$submitted && userForm.firstPassword.$error.required)">Please fill your password. We need it :)</p>
            <ul class="help-block" ng-show="(userForm.$submitted && userForm.firstPassword.$error.minlength)||(userForm.$submitted && userForm.firstPassword.$error.maxlength)">
                <li>your password length should be between 5 to 25 characters</li>
            </ul>
        </div>
        <div ng-class="{'has-info':(confirmed && !userForm.confirmpassword.$error.required), 'has-error':(!confirmed && !userForm.confirmpassword.$error.required) || (userForm.confirmpassword.$error.required &&
        !userForm.confirmpassword.$pristine) || (userForm.$submitted && userForm.confirmPassword.$error.required)}">
            <label>Confirm Password</label>
            <input class="form-control" ng-disabled="password.disabled" type="text" name="confirmPassword" match="{{[firstPassword]}}" ng-change="reset.passwordData.password = confirmMainPassword" ng-model="confirmMainPassword" required>
            <p class="help-block" ng-show="(userForm.$submitted && userForm.confirmPassword.$error.required)">Please fill your password. We need it :)</p>
            <p class="help-block" ng-show="!confirmed && !userForm.confirmPassword.$pristine &&userForm.confirmPassword.$valid">Password doesn't match</p>
        </div>
        <br><button ng-disabled="reset.disabled" class="btn btn-primary" type="submit" name="submit">Submit</button>
    </form>
    <div class="jumbotron text-center" ng-show="reset.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading...</p>
    </div>
    <div class="row show-hide-message" ng-show="reset.successMsg">
        <div class="alert alert-success">
            {{reset.successMsg}}
        </div>
    </div>
    <div class="row show-hide-message" ng-show="reset.errorMsg">
        <div class="alert alert-danger">
            {{reset.errorMsg}}
        </div>
    </div>

</div>
