<div class="container">
    <div class="page-header">Register Form</div>
    <form name="regForm" ng-submit="register.regUser(regData, regForm.$valid)" novalidate>
        <div ng-class="{'has-info':(regForm.username.$valid)||(!register.usernameInvalid), 'has-error':(!regForm.username.$valid && regForm.$submitted)||(register.usernameInvalid)}">
            <label>Username</label>
            <input class="form-control" type="text" name="username" ng-model="register.regData.username" ng-minlength="1" ng-maxlength="35" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" required ng-blur="register.checkForUsername(regData)">
            <p class="help-block" ng-show="(regForm.$submitted && regForm.username.$error.required)">Please fill your username. We need it :)</p>
            <p class="help-block" ng-show="(register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid && register.checkingUsername)">{{register.usernameMsg}}</p>
            <ul class="help-block" ng-show="(regForm.$submitted && regForm.username.$error.minlength) || (regForm.$submitted && regForm.username.$error.maxlength) || (regForm.$submitted && regForm.username.$error.pattern)">
              <li>your can only have max username length 35 characters and no space between username</li>
              <li>username can contain only number or alphabet or both</li>
            </ul>
        </div>
        <div ng-class="{'has-info':(regForm.email.$valid)||(!register.emailInvalid), 'has-error':(!regForm.email.$valid && regForm.$submitted)||(register.emailInvalid)}">
            <label>Email</label>
            <input class="form-control" type="text" name="email" ng-model="register.regData.email" ng-minlength="5" ng-maxlength="50" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" required ng-blur="register.checkForEmail(regData)">
            <p class="help-block" ng-show="(regForm.$submitted && regForm.email.$error.required)">Please fill your email. We need it :)</p>
            <p class="help-block" ng-show="(register.emailMsg && !regForm.email.$error.required && regForm.email.$valid && register.checkingEmail)">{{register.emailMsg}}</p>
            <ul class="help-block" ng-show="(regForm.$submitted && regForm.email.$error.pattern) || (regForm.$submitted && regForm.email.$error.minlength) || (regForm.$submitted && regForm.email.$error.maxlength)">
              <li>must contain '@'</li>
              <li>cannot contain any special character</li>
              <li>your can only have max email length 50 characters</li>
            </ul>
        </div>
        <div ng-class="{'has-info':(regForm.password.$valid), 'has-error':(!regForm.password.$valid && regForm.$submitted)}">
            <label>Password</label>
            <input class="form-control" type="password" name="password" ng-model="register.regData.password" ng-minlength="5" ng-maxlength="25" required>
            <p class="help-block" ng-show="(regForm.$submitted && regForm.password.$error.required)">Please fill your password. We need it :)</p>
            <ul class="help-block" ng-show="(regForm.$submitted && regForm.password.$error.minlength)||(regForm.$submitted && regForm.password.$error.maxlength)">
              <li>your password length should be between 5 to 25 characters</li>
            </ul>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" name="register">ចុះឈ្មោះ</button>
    </form>

    <div class="jumbotron text-center" ng-show="register.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading...</p>
    </div>
    <div class="row show-hide-message" ng-show="register.successMsg">
        <div class="alert alert-success">
            {{register.successMsg}}
        </div>
    </div>
    <div class="row show-hide-message" ng-show="register.errorMsg">
        <div class="alert alert-danger">
            {{register.errorMsg}}
        </div>
    </div>
</div>
